// From Bootstrap
$gray-100: #f8f9fa;
$gray-200: #e9ecef;

// Own
$qlt-purple: rgb(90, 8, 152);
// $qlt-purple: #311B92;
$qlt-pink: rgb(254, 0, 174);
$qlt-gray: rgb(158, 148, 156);

$qlt-purple-code: '90, 8, 152';
$qlt-pink-code: '254, 0, 174';

$color-border: #d2d6da;
$color-text: #67748e;

// Soft-UI
$bs-blue: #63b3ed;
$bs-indigo: #596cff;
$bs-purple: #6f42c1;
$bs-pink: #d63384;
$bs-red: #f56565;
$bs-orange: #fd7e14;
$bs-yellow: #fbd38d;
$bs-green: #81e6d9;
$bs-teal: #20c997;
$bs-cyan: #0dcaf0;
$bs-gray: #6c757d;
$bs-gray-dark: #343a40;
$bs-primary: #cb0c9f;
$bs-secondary: #8392ab;
$bs-success: #82d616;
$bs-info: #17c1e8;
$bs-warning: #fbcf33;
$bs-danger: #ea0606;
$bs-light: #e9ecef;
$bs-dark: #344767;
$bs-white: #fff;
$bs-gradient: linear-gradient(180deg,hsla(0,0%,100%,.15),hsla(0,0%,100%,0));

// BS5
// $bs-blue: #0d6efd;
// $bs-indigo: #6610f2;
// $bs-purple: #6f42c1;
// $bs-pink: #d63384;
// $bs-red: #dc3545;
// $bs-orange: #fd7e14;
// $bs-yellow: #ffc107;
// $bs-green: #198754;
// $bs-teal: #20c997;
// $bs-cyan: #0dcaf0;
// $bs-white: #fff;
// $bs-gray: #6c757d;
// $bs-gray-dark: #343a40;
// $bs-primary: #0d6efd;
// $bs-secondary: #6c757d;
$bs-success: #198754;
// $bs-info: #0dcaf0;
// $bs-warning: #ffc107;
// $bs-danger: #dc3545;
// $bs-light: #f8f9fa;
// $bs-dark: #212529;
// $bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
$bs-gray-100: #f8f9fa;
$bs-gray-200: #e9ecef;
$bs-gray-300: #dee2e6;
$bs-gray-400: #ced4da;
$bs-gray-500: #adb5bd;
$bs-gray-600: #6c757d;
$bs-gray-700: #495057;
$bs-gray-800: #343a40;
$bs-gray-900: #212529;


// Custom
// $bs-primary: #7b52c7;
$bs-success: #47c363;  // #47c363;