// @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// $qlt-font-sans: 'Nunito', 'Lato', sans-serif;
// $qlt-font-serif: 'Roboto Slab', serif;

$qlt-font-sans: 'Roboto Condensed',
sans-serif;

$qlt-font-serif: 'Roboto Slab',
serif;

$qlt-font-special: 'Ubuntu',
'Trebuchet MS',
sans-serif;