@import "variables/color";
@import "variables/font";

// @import 'overwrite/fontawesome';
@import "overwrite/bootstrap";
@import "overwrite/datatable";
@import "overwrite/select2";
@import "overwrite/argon";

@import "media/print";

body {
    font-family: $qlt-font-sans;
}

select {
    padding-right: 1.5rem;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
        no-repeat right 0.75rem center/8px 10px;
    /* background: url("select.svg") no-repeat right .5rem center/8px 10px; */

    &.form-control {
        padding-right: 1.5rem !important;
    }
}

.form-control {
    line-height: 1.375rem;
}

.fit {
    width: 1px !important;
    white-space: nowrap !important;
}

.textarea-height {
    min-height: 5.25rem !important;
    max-height: 10.5rem !important;
}

.font-serif {
    font-family: $qlt-font-serif !important;
}

.font-sans {
    font-family: $qlt-font-sans !important;
}
